{% extends 'base.html.twig' %}
{% block body %}
    <div id="base">
    <p>log:</p>
    {% if log is defined %}
    <p>{{log}}</p>
    {% endif %}
    <div id="appContent">
        <div id="recallsMenu">
            {{ form(form) }}
        </div>
        {% if boxes is defined %}
            {% for box in boxes %}
                <div class="box">
                    <h2>{{box.name}}</h2> {#} That would be the name{#}
                    <div class="recalls"> {#}This would be the recalls{#}
                        <p>Recall 1</p>
                        <p>Recall 2</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No boxes added</p>
        {% endif %}
    </div>
    </div>
{% endblock %}