{% extends 'base.html.twig' %}
{% block body %}
    <div id="base">
    <p>log:</p>
    {% if log is defined %}
    <p>{{log}}</p>
    {% endif %}
    <div id="appContent">
        <div id="recallsMenu">
            {{ form(form) }}
        </div>
        <div class="box">
            <h2>box 1</h2> {#} That would be the name{#}
                {{ form(recallForm) }}
            <div data-controller="recall">
                <input data-recall-target="name" type="text">
                <button data-action="click->recall#add">Add</button>
                <div data-recall-target="list" id="recalls"> {#}This would be the recalls{#}
                    <p>Recall 1</p>
                    <p>Recall 2</p>
                </div>
            </div>
        </div>
        <div class="box">
        <h2>box 2</h2>
        </div>
    </div>
    </div>
{% endblock %}