@import "~bootstrap/scss/bootstrap";
body
{
    background-color: rgb(236, 216, 216);
}

.box{
    border: 1px solid rgb(226, 83, 83);
    min-width: 10em;
    min-height: 20em;

    margin-right: 5px;
    & > h3{
        color:rgb(236, 216, 216);
    }
}
#base{
    & > p{
        color:aqua;
    }
}

.recalls{
    & > p{
        color:rgb(65, 173, 236);
        border: 1px solid red;
    }
}
#recallsMenu{
    border: 2px solid purple;
    display: inline-block;
    margin: 1.5em;
    min-width: 150px;
}